*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(7, 1, 43);

}

h2{
    color: rgba(244, 86, 165, 0.915);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

p{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(207, 201, 201);
    padding-left: 12px;
}

footer{
    padding-top: 30px;
}

.carousel {
    padding-top: 25px;
    display: flex;
    width: 260px;      
    height: 430px;     
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
}

.carousel img {
    border-radius: 20px;
    width: 260px;
    height: 430px;
    object-fit: cover;
    flex-shrink: 0;
    animation: slide 31s infinite;
}

audio {
    display: block;
    margin: 25px auto 0 auto;
}

@keyframes slide {
  0%    { transform: translateX(0%); }
  7%    { transform: translateX(0%); }

  10%   { transform: translateX(-100%); }
  16%   { transform: translateX(-100%); }

  19%   { transform: translateX(-200%); }
  25%   { transform: translateX(-200%); }

  28%   { transform: translateX(-300%); }
  34%   { transform: translateX(-300%); }

  37%   { transform: translateX(-400%); }
  43%   { transform: translateX(-400%); }

  46%   { transform: translateX(-500%); }
  52%   { transform: translateX(-500%); }

  55%   { transform: translateX(-600%); }
  61%   { transform: translateX(-600%); }

  64%   { transform: translateX(-700%); }
  70%   { transform: translateX(-700%); }

  73%   { transform: translateX(-800%); }
  79%   { transform: translateX(-800%); }

  82%   { transform: translateX(-900%); }
  88%   { transform: translateX(-900%); }

  91%   { transform: translateX(-1000%); }
  97%   { transform: translateX(-1000%); }

  100%  { transform: translateX(0%); }
}
