*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(7, 1, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a{
    justify-content: center;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.941);
    padding: 14px;
    border-radius: 7px;
}

.centralizado {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centralizado p {
    color: rgba(255, 69, 239, 0.858);
    font-size: 1.2em;
    margin-bottom: 18px;
}
